:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  margin-top: 2px;
}

.header {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

/* ! ------------------------------------------- Translator ----------------------------- */
.translator-container {
  width: 100%;
  height: 85dvh;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translator-container .btns-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translator-container .btns-container ul {
  list-style-type: none;
}

.translator-container .btns-container ul li {
  margin-bottom: 2rem;
}

.translator-container .btns-container ul li a {
  display: block;
  width: 30rem;
  text-align: center;
}

.btns-container a:link,
.btns-container a:visited {
  text-decoration: none;
  color: #222;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
  /* background-color: var(--color-primary); */
  background-color: #fdfdfd;
  padding: 5px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  transition: all 0.2s;
}

.btns-container a:hover,
.btns-container a:active {
  /* background-color: var(--color-primary-darker); */
  background-color: #fdfdfd;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------- Translator END ----------------------------- */
