{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/CV.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>CV - Sajid Anam Ifti</title>

</head>

<body>
    <div class="container">
        <div class="photo-container">
            <img class="photo" src="{% static 'img/pp.jpeg' %}" alt="Profile Photo">
        </div>

        <h1>Md. Sajid Anam Ifti</h1>
        <p style="text-align: center; margin-bottom: -15px;"><a href="tel:+8801793041594" class="email-link">+8801793041594</a></p>
        <p style="text-align: center;"><a href="mailto:info@sajidifti.com" class="email-link">info@sajidifti.com</a></p>
        <br>

        <div class="panel">
            <section class="section">
                <h2 class="section-title">Summary</h2>
                <p style="text-align: justify;">Aspiring software engineer with a strong background in web
                    development and a passion for building
                    scalable and efficient applications. Proficient in various programming languages and frameworks,
                    with a focus on back-end technologies. Excellent problem-solving skills and a dedicated team
                    player.</p>
            </section>
        </div>

        <div class="panel">
            <section class="section">
                <h2 class="section-title">Experience</h2>

                <div class="job">
                    <h3 class="job-title">Capstone Project on Word Level Sign Language Recognition</h3>
                    <p class="job-description">East West University</p>
                    <p class="job-description">Translates sign language captured via live camera feed to English words
                    </p>
                </div>
                <div class="job">
                    <h3 class="job-title">Donation Mangement System Using Django (Dannbaksho)</h3>
                    <p class="job-description">East West University</p>
                    <p class="job-description">Simple and easy to use donation management system</p>
                </div>
                <div class="job">
                    <h3 class="job-title">Interior Designer Hiring Platform Using Django (Havenly)</h3>
                    <p class="job-description">East West University</p>
                    <p class="job-description">Users can hire interior designers</p>
                </div>
                <div class="job">
                    <h3 class="job-title">Simple OenSSL GUI Using Django</h3>
                    <p class="job-description">East West University</p>
                    <p class="job-description">A simple and easy to use GUI for OenSSL</p>
                </div>


            </section>
        </div>
        <div class="panel">
            <section class="section">
                <h2 class="section-title">Skills</h2>
                <div class="skills">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>C/C++</li>
                        <li>SQL</li>
                    </ul>
                </div>
            </section>
        </div>

        <div class="panel">
            <section class="section">
                <h2 class="section-title">Educational Background</h2>
                <table class="education-table">
                    <tr>
                        <th>Degree</th>
                        <th>Institution</th>
                        <th>Result</th>
                        <th>Year</th>
                    </tr>
                    <tr>
                        <td>Bachelor of Science in Computer Science</td>
                        <td>East West University</td>
                        <td>3.50</td>
                        <td>2023</td>
                    </tr>
                    <tr>
                        <td>Higher Secondary Certificate</td>
                        <td>Cantonment Public School and College</td>
                        <td>5.00</td>
                        <td>2019</td>
                    </tr>
                    <tr>
                        <td>Secondary School Certificate</td>
                        <td>Barapukuria Coal Mine School</td>
                        <td>5.00</td>
                        <td>2017</td>
                    </tr>

                </table>
            </section>
        </div>



        <div class="panel">
            <section class="section">
                <h2 class="section-title">Personal Information</h2>
                <div class="personal-info">
                    <p><span class="info-label">Father's Name</span> Anowarul Islam</p>
                    <p><span class="info-label">Mother's Name</span> Salma Akhter</p>
                    <p><span class="info-label">Date of Birth</span> December 3, 2002</p>
                    <p><span class="info-label">Village</span> Patikaghat</p>
                    <p><span class="info-label">Post</span> Anandabazar (5260)</p>
                    <p><span class="info-label">Upazilla</span> Parbatipur</p>
                    <p><span class="info-label">District</span> Dinajpur</p>
                </div>
            </section>
        </div>



        <div class="panel">
            <section class="section">
                <h2 class="section-title">Contact Information</h2>
                <div class="personal-info">
                    <p><span class="info-label">Address</span>Ansar Camp Kacha Bazar, Aftabnagar, Dhaka - 1212</p>
                    <p><span class="info-label">Email</span><a href="mailto:info@sajidifti.com">info@sajidifti.com</a>
                    </p>
                    <p><span class="info-label">Phone</span><a href="tel:+8801793041594">+8801793041594</a></p>
                    <p><span class="info-label">Website</span><a href="http://www.sajidifti.com">sajidifti.com</a></p>
                </div>
            </section>
        </div>

        <div class="panel">
            <section class="section">
                <h2 class="section-title">Interests</h2>
                <ul class="interests-list">
                    <li><span class="interests-icon"><i class="fas fa-gamepad"></i></span>Gaming</li>
                    <li><span class="interests-icon"><i class="fas fa-code"></i></span>Coding</li>
                    <li><span class="interests-icon"><i class="fas fa-paint-brush"></i></span>Arts and Crafts</li>
                    <li><span class="interests-icon"><i class="fas fa-book"></i></span>Reading</li>
                </ul>
            </section>
        </div>

        <div class="panel">
            <section class="section">
                <h2 class="section-title">References</h2>
                <ul class="references-list">
                    <li>
                        <p class="reference-name">Mahamudul Hasan</p>
                        <p class="reference-role">Senior Lecturer, Department of Computer Science and Engineering</p>
                        <p class="reference-contact">Phone: +8801967000067 | Email: mahamudul@ewubd.edu</p>
                    </li>
                </ul>
            </section>
        </div>


        <div class="panel">
            <section class="section">
                <h2 class="section-title">Social Links</h2>
                <div class="social-links">
                    <a href="https://www.linkedin.com/sajidifti" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/sajidifti" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-github"></i></a>
                    <a href="https://twitter.com/sajidifti1" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-twitter"></i></a>
                </div>
            </section>
        </div>
    </div>
</body>

</html>