{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/WLSLT-logos_transparent.png' %}" />
    <link rel="stylesheet" href="{% static 'css/WLSLT.css' %}" />
    <title>|&nbsp; WLSLT - Word-level Deep Sign Language Recognition</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="{% url 'WLASL' %}">
                <img src="{% static 'img/WLSLT-logos_transparent.png' %}" alt="Logo" class="nav__logo" id="logo" />
            </a>
        </nav>
    </header>
    <section class="translator-container">
        <div class="btns-container">
            <ul>
                <!-- <li><a href="https://4xwjcg87-8000.inc1.devtunnels.ms/">Sign Language to English</a></li> -->
                <li><a href="#" disabled>Sign Language to English <b><i>NOTE: </i> The server is currently
                            offline.</b></a></li>
                <li><a href="https://github.com/sajidifti" target="_blank">Team GitHub</a></li>
            </ul>
        </div>
    </section>
</body>

</html>