{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="{% static "css/shorty-style.css" %}">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{% static "images/fav.png" %}">
        <title>Reset Password - Shorty</title>
    </head>
    <body>
        <div class="form-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="message-container">
                        <p class="message">{{ message|safe|escape }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" class="login-form" method="post">
                {% csrf_token %}
                <h2>Reset Your Password</h2>
                {% for field in form %}
                    {% if field.name != 'captcha' %}
                        {# Exclude captcha field #}
                        <div class="form-field">{{ field }}</div>
                    {% endif %}
                {% endfor %}
                <div class="captcha-container">
                    {# Wrap the captcha field in a container #}
                    {{ form.captcha }}
                </div>
                <button type="submit">Send Email</button>
                <p>
                    <i><b>Please Enter Your Email Address Associated With Your Account. If An Account Is Found, An Email Will Be Sent With Instructions.</b></i>
                </p>
                <p>
                    Already have an account? <a href="{% url "login" %}">Login</a>
                </p>
                <p>
                    Don't have an account? <a href="{% url "signup" %}">Sign Up</a>
                </p>
            </form>
        </div>
    </body>
</html>
