{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="{% static "css/shorty-style.css" %}">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{% static "images/fav.png" %}">
        <title>Profile - Shorty</title>
    </head>
    <body>
        <div class="container">
            <div class="left">
                <a href="{% url "home" %}">
                    <div class="logo">
                        <img src="{% static "images/logo.png" %}" alt="Shorty Logo" srcset="">
                    </div>
                </a>
                <div class="navcontainer">
                    <div class="spacer"></div>
                    <div class="navpanel">
                        <ul>
                            <div class="curve-bg">
                                <div class="dummy"></div>
                            </div>
                            <div class="curve-bg">
                                <li class="">
                                    <a href="{% url "home" %}">New</a>
                                </li>
                            </div>
                            <div class="curve-bg">
                                <li class="">
                                    <a href="{% url "myurls" %}">My URLs</a>
                                </li>
                            </div>
                            {% if user.groups.all.0.name == 'admin' %}
                                <div class="curve-bg">
                                    <li class="">
                                        <a href="{% url "allurls" %}">All URLs</a>
                                    </li>
                                </div>
                                <div class="curve-bg">
                                    <li class="">
                                        <a href="{% url "customadmin" %}">Admin</a>
                                    </li>
                                </div>
                                <div class="curve-bg">
                                    <li class="">
                                        <a href="{% url "allusers" %}">Users</a>
                                    </li>
                                </div>
                                <div class="curve-bg">
                                    <div class="dummy"></div>
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="account">
                    <ul>
                        <li>
                            {% if user.is_authenticated %}
                                <a href="{% url 'profile' %}">
                                    <div class="profile-container profile-active">
                                        <div class="photo">
                                            <img src="{{ user.image.url }}" alt="Profile Photo" class="profile-photo">
                                        </div>
                                        <div class="info">
                                            <div class="username">{{ user.username }}</div>
                                            <div class="email">
                                                <i>{{ user.email }}</i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="form-container">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="message-container">
                                <p class="message">{{ message|safe|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action=""
                          method="post"
                          enctype="multipart/form-data"
                          class="login-form">
                        {% csrf_token %}
                        <h2>Profile</h2>
                        <label for="id_image" class="profile-image">
                            <img id="preview-image" src="{% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static "images/default_photo.jpg" %}{% endif %}" alt="Profile Image" width="200px" height="200px">
                            <input type="file"
                                   name="image"
                                   accept="image/*"
                                   id="id_image"
                                   onchange="previewImage(event)">
                        </label>
                        <br>
                        <input type="text"
                               name="username"
                               value="{{ form.instance.username }}"
                               maxlength="150"
                               required
                               id="id_username"
                               >
                        <br>
                        <input type="email"
                               name="email"
                               value="{{ form.instance.email }}"
                               maxlength="320"
                               required
                               id="id_email"
                               >
                        <br>
                        <input type="text"
                               name="first_name"
                               value="{{ form.instance.first_name }}"
                               maxlength="150"
                               id="id_first_name">
                        <br>
                        <input type="text"
                               name="last_name"
                               value="{{ form.instance.last_name }}"
                               maxlength="150"
                               id="id_last_name">
                        <button type="submit">Save</button>
                        <div class="buttons">
                            <a href="{% url 'changepassword' %}">Change Password</a>
                            <a href="{% url 'home' %}">Delete Account</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function previewImage(event) {
                var reader = new FileReader();
                reader.onload = function() {
                    var output = document.getElementById('preview-image');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            }
        </script>
    </body>
</html>
